
<div id="footer">
    <p>Design by Lander Callens, system by Tibo Vanheule</p>
    <svg id="wave_5_" data-name="wave(5)" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
        <defs>
            <linearGradient id="linear-gradient" x1="0.5" x2="0.5" y2="1" gradientUnits="objectBoundingBox">
                <stop offset="0" stop-color="#b9d5ff"/>
                <stop offset="1" stop-color="#1b365f"/>
            </linearGradient>
            <linearGradient id="linear-gradient-3" x1="0.5" x2="0.5" y2="1" gradientUnits="objectBoundingBox">
                <stop offset="0" stop-color="#ffedc1"/>
                <stop offset="1" stop-color="#f9b515"/>
            </linearGradient>
        </defs>
        <path id="Path_3" data-name="Path 3"
              d="M0,198.8l26.7-18.9c26.6-19.259,80.3-56.534,133.3-71,53.3-13.934,107-5.059,160-18.993,53.3-14.466,107-51.741,160-71C533.3,0,587,0,640,28.4c53.3,28.4,107,85.2,160,127.8,53.3,42.6,107,71,160,85.2,53.3,14.2,107,14.2,160-9.5,53.3-23.341,107-71.266,160-75.7,53.3-4.437,107,32.837,160,47.3,53.3,13.934,107,5.059,160-18.9,53.3-23.962,107-61.237,160-75.7,53.3-13.934,107-5.059,160,14.2,53.3,18.9,107,47.3,160,56.8,53.3,9.141,107,.266,160-28.4,53.3-28.134,107-76.059,160-66.3,53.3,9.763,107,75.438,160,75.7,53.3-.266,107-65.941,160-61.5,53.3,4.438,107,80.762,160,75.7,53.3-4.7,107-89.9,160-132.5C3093.3,0,3147,0,3200,0c53.3,0,107,0,160,9.5,53.3,9.141,107,28.666,160,47.3,53.3,18.638,107,38.162,160,47.3,53.3,9.5,107,9.5,133,9.5h27V284H0Z"
              fill="url(#linear-gradient)"/>
        <path id="Path_4" data-name="Path 4"
              d="M0,32l26.7,4.638c26.6,4.987,80.3,13.738,133.3,28,53.3,13.737,107,32.987,160,60.725,53.3,28.263,107,65.013,160,79.275,53.3,13.738,107,4.988,160-9.275C693.3,181.625,747,162.375,800,172c53.3,9.625,107,46.375,160,56,53.3,9.625,107-9.625,160-42,53.3-32.375,107-79.625,160-107.363,53.3-28.262,107-37.012,160-37.275,53.3.262,107,9.013,160,42C1653.3,116,1707,172,1760,162.638c53.3-9.012,107-84.263,160-79.275,53.3,4.637,107,88.638,160,98,53.3,9.012,107-55.738,160-79.363,53.3-23.625,107-4.375,160-4.637,53.3.263,107-18.987,160-32.725,53.3-14.262,107-23.013,160-28C2773.3,32,2827,32,2880,69.363c53.3,37.012,107,112.263,160,121.275C3093.3,200,3147,144,3200,125.362c53.3-18.987,107,.262,160,0,53.3.262,107-18.987,160-18.725,53.3-.263,107,18.987,160,9.362,53.3-9.625,107-46.375,133-65.362L3840,32V284H0Z"
              opacity="0.9" fill="url(#linear-gradient)"/>
        <path id="Path_5" data-name="Path 5"
              d="M0,143.985l26.7-9.364C53.3,125.608,107,106.356,160,87.979,213.3,69.6,267,50.35,320,41.336c53.3-9.364,107-9.364,160,4.638,53.3,14,107,42,160,65.37,53.3,23.015,107,42.267,160,37.279,53.3-4.638,107-32.641,160-56.006,53.3-23.015,107-42.267,160-18.64,53.3,23.628,107,88.385,160,88.647,53.3-.263,107-65.02,160-74.646,53.3-9.626,107,37.629,160,32.641,53.3-4.638,107-60.644,160-46.643,53.3,14,107,98.011,160,140.015,53.3,42,107,42,160,42,53.3,0,107,0,160-14,53.3-14,107-42,160-74.646,53.3-32.991,107-69.745,160-98.011,53.3-27.74,107-46.993,160-32.729,53.3,13.739,107,60.994,160,88.735,53.3,28.266,107,37.016,160,56.006,53.3,18.639,107,46.643,160,60.644,53.3,14,107,14,160-9.363,53.3-23.015,107-70.27,160-93.285,53.3-23.365,107-23.365,160-23.365h160V284H0Z"
              transform="translate(0 0)" opacity="0.8" fill="url(#linear-gradient-3)"/>
    </svg>
</div>
