<!doctype html>
<html class="no-js" lang="">

<head>
    <meta charset="utf-8">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta property="og:title" content="">
    <meta property="og:type" content="">
    <meta property="og:url" content="">
    <meta property="og:image" content="">

    <link rel="stylesheet" href="/css/main.css">
    <script src="/socket.io/socket.io.js"></script>
    <script>
        const socket = io();

        socket.on( 'update-runners', function( data ) {
            document.getElementById('runners').innerHTML = "";
            for (let i in data){
                if (i ==  0) {
                    document.getElementById('runners').innerHTML += `<li><p>Aan het lopen: ${data[i].name}</p></li>`;
                }else {
                    document.getElementById('runners').innerHTML += `<li><p>${data[i].name}</p></li>`;
                }
            }
        });

        socket.on( 'update-most', function( data ) {
            document.getElementById('mostr').innerHTML = "";
            for (let i of data){
                document.getElementById('mostr').innerHTML += `<li><p>${i.home}: ${i.rounds} rondes.</p></li>`;
            }
        });

        function str_pad_left(string, pad, length) {
            return (new Array(length + 1).join(pad) + string).slice(-length);
        }

        socket.on( 'update-speed', function( data ) {
            document.getElementById('speders').innerHTML = "";
            for (let i of data) {
                const minutes = Math.floor(i.duration / 60);

                const seconds = i.duration - minutes * 60;

                document.getElementById('speders').innerHTML += `<li><p>${i.name}: ${str_pad_left(minutes, '0', 2)}:${str_pad_left(seconds, '0', 2)}</p></li>`;
            }
        });
    </script>
    <meta name="theme-color" content="#fafafa">
</head>

<body>

<%- include('./partials/logo') %>

<div id="next">
    <h1>Volgende lopers</h1>
    <ol id="runners">
    </ol>
</div>

<div id="most">
    <h1>Meeste rondes</h1>
    <ol id="mostr">

    </ol>
</div>

<div id="fast">
    <h1>Snelste
        lopers</h1>
    <ol id="speders">
    </ol>
</div>
<%- include('./partials/footer') %>
</body>

</html>
