<!doctype html>
<html class="no-js" lang="">

<head>
    <meta charset="utf-8">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta property="og:title" content="">
    <meta property="og:type" content="">
    <meta property="og:url" content="">
    <meta property="og:image" content="">

    <link rel="stylesheet" href="/css/main.css">
    <script src="/socket.io/socket.io.js"></script>
    <meta name="theme-color" content="#fafafa">
</head>

<body>

<%- include('./partials/logo') %>

<div id="next">
    <h1>Volgende lopers</h1>
    <ol>
    </ol>
</div>

<div id="most">
    <h1>Meeste lopers & supporters</h1>
</div>

<div id="fast">
    <h1>Snelste
        lopers</h1>
</div>
<%- include('./partials/footer') %>
</body>
<script>
    function run_lap(e) {
        e.target.disabled = true;
        if (confirm("Zeker dat je een ronde wilt lopen?")) {
            fetch("/run/", {credentials: "include", method: "POST"}).then((d) => d.json()).then(() => {
                alert("Loopronde gereserveerd hou het dashboard of het dashboard in het oog.")
            })
        }
    }
</script>
</html>
