<!doctype html>
<html lang="">

<head>
    <meta charset="utf-8">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta property="og:title" content="">
    <meta property="og:type" content="">
    <meta property="og:url" content="">
    <meta property="og:image" content="">

    <link rel="stylesheet" href="/css/main.css">
    <script src="/socket.io/socket.io.js"></script>
    <script>
        const socket = io()

        socket.on('update-runners', function (data) {
            document.getElementById('runners').innerHTML = "";
            for (let i in data) {
                if (i == 0){
                    document.getElementById('runners').innerHTML += `<li><p><stong>Aan het lopen:</stong> ${data[i].name}</p></li>`;
                }else{
                    document.getElementById('runners').innerHTML += `<li><p>${data[i].name}</p></li>`;
                }

            }
        });
    </script>
    <meta name="theme-color" content="#fafafa">
    <style>
        body {
            overflow: hidden !important;
        }

        @media screen and (max-width: 1000px) and (orientation: portrait) {
            #test {
                display: block !important;
                top: 50%;
                position: fixed;
                z-index: 999;
                left: 50%;
                translate: -50%;
                background: white;
                border: solid black 1px;
                padding: 2%;
                font-size: 2em;
                font-family: Poppins-b, serif;
                text-align: center;
            }

        }

        #next_button h1, #skip_button h1, #snooze_button #runners {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            font-family: Poppins-b, serif;
            text-align: center;
        }

        #skip_button h1, #snooze_button #runners {
            font-size: 0.8em;
        }

    </style>
</head>

<body>
<div id="test" style="display: none">
    <p>Rotate screen</p>
</div>
<div style="height: calc( 100vh );">
    <div style="width: 50%;height: 100%;display: inline-block;">
        <div id="snooze_button" style="width:100%;height: 50%;position: relative;">
            <ol id="runners"></ol>
            </div><div onclick="skip(event)" id="skip_button" style="width:100%;height: 50%;background: red;position: relative">
            <h1>Loper overslaan</h1></div>
    </div><!--
    --><div id="next_button" onclick="next(event)"
         style="width:50%;background-color: green;height: 100%;display: inline-block;position: relative">
        <h1>Einde ronde, volgende loper</h1>
    </div>
</div>
</body>
<script>
    function next(e) {
        e.preventDefault();
        if (confirm("Naar volgende loper?")) {
            fetch("/run/next", {credentials: "include", method: "POST"}).then((d) => {
                if (!d.ok) {
                    throw new Error(`Error! status: ${d.status}`);
                }
                return d.json();
            }).then(() => {
                alert("volgende loper")
            })
        }
    }

    function skip(e) {
        e.preventDefault();
        if (confirm("Volgende loper overslaan?")) {
            fetch("/run/skip", {credentials: "include", method: "POST"}).then((d) => {
                if (!d.ok) {
                    throw new Error(`Error! status: ${d.status}`);
                }
                return d.json();
            }).then(() => {
                alert("Volgende loper overgeslagen!")
            })
        }
    }
</script>
</html>
