<!doctype html>
<html lang="">

<head>
    <meta charset="utf-8">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta property="og:title" content="">
    <meta property="og:type" content="">
    <meta property="og:url" content="">
    <meta property="og:image" content="">

    <link rel="stylesheet" href="/css/main.css">
    <script src="/socket.io/socket.io.js"></script>
    <meta name="theme-color" content="#fafafa">
</head>

<body>

<%- include('./partials/logo') %>

<form style="width: 50%;text-align: left;position: absolute;top: 50%;left: 50%;translate: -50%;">
    <label for="first_name">Voornaam:</label>
    <input id="first_name" required type="text" />
    <label for="last_name">Achternaam:</label><input id="last_name" required type="text" />
    <label for="home">Home:</label>
    <select>
    </select>
    <label for="email">Email:</label><input id="email" required type="text" />
    <input id="email" required type="text" />
    <button type="submit">Voeg loper toe.</button>
</form>
<%- include('./partials/footer') %>
</body>
<script>
    function submit(e) {
        e.preventDefault();
        if (confirm("Gebruiker aanmaken?")) {
            fetch("/run/", {credentials: "include", method: "POST"}).then((d) => d.json()).then(() => {
                alert("Gebruiker aangemaakt")
            })
        }
    }
</script>
</html>
