<!doctype html>
<html lang="">

<head>
    <meta charset="utf-8">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta property="og:title" content="">
    <meta property="og:type" content="">
    <meta property="og:url" content="">
    <meta property="og:image" content="">

    <link rel="stylesheet" href="/css/main.css">
    <meta name="theme-color" content="#fafafa">
</head>

<body>

<%- include('./partials/logo') %>

<div onsubmit="return submit(event)"
     style="width: 50%;text-align: left;position: absolute;top: 50%;left: 50%;translate: -50%;">
    <label for="first_name">Voornaam:</label>
    <input id="first_name" required type="text"/><br/>
    <label for="last_name">Achternaam:</label><input id="last_name" required type="text"/><br/>
    <label for="home">Home:</label>
    <select id="home">
        <option>Astrid</option>
        <option>Boudewijn</option>
        <option>Bertha</option>
        <option>Mercator</option>
        <option>Savania</option>
        <option>Fabiola</option>
        <option>Vermeylen</option>
        <option>Confabula</option>
    </select><br/>
    <button type="submit" onclick="submit(event)">Voeg loper/supporter toe.</button>
</div>
<%- include('./partials/footer') %>
</body>
<script>
    function submit(e) {
        e.preventDefault();
        if (confirm("Gebruiker aanmaken?")) {
            let first = document.getElementById('first_name').value;
            let last = document.getElementById('last_name').value;
            let home = document.getElementById('home').value;
            fetch("/user/", {
                credentials: "include", method: "POST", headers: {
                    'Content-type': 'application/json; charset=UTF-8'
                }, body: JSON.stringify({first_name: first, last_name: last, home: home})
            }).then((d) => {
                if (!d.ok) {
                    throw new Error(`Error! status: ${d.status}`);
                }
                return d.json();
            }).then(() => {
                alert("Gebruiker aangemaakt")
            })
        }
        return false;
    }
</script>
</html>
