@font-face {
  font-family: 'Poppins-m';
  src: url('/font/Poppins-Medium.woff2') format('woff2'),
  url('/font/Poppins-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins-b';
  src: url('/font/Poppins-Bold.woff2') format('woff2'),
  url('/font/Poppins-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}



body {
  margin: 0;
  background-color: #FFF4D9;
  overflow: hidden;
}

#wave_5_ {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 4800px;
  overflow: hidden;
  max-height: 270px;
}

#logo_holder {
  position: relative;
  width: 100%;
  border-bottom: 3px solid white;
}
#logo_holder svg{
  margin: 20px;
  display: inline-block;
  vertical-align: top;
  height: 5vw;
}

#next{
  font-family: Poppins-m, serif;
  margin-left: calc( 20px  + 5vw );
}

#next h1 {
  font-size: 4em;
  width: 100%;
  font-family: Poppins-b, serif;
}


#most h1 , #fast h1 {
  font-size: 3em;
  width: 100%;
  font-family: Poppins-b, serif;
}

#next, #most, #fast {
  width: calc( ((100vw - 5vw) / 3) - 15px  );
  display: inline-block;
  vertical-align: top;
  color: #1B365F;
}

#next-full-width {
  width: calc( 100% - 40px );
  margin: 20px;
  display: inline-block;
  vertical-align: top;
  color: #1B365F;
}

#next ol, #fast ol, #most ol {
  background-image: linear-gradient(180deg,#000000 0%,rgba(0,0,0,0));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  height: 35vh;
  font-size: 1.5em;
  text-transform: capitalize;
  font-family: Poppins-m, serif;
  color: inherit;
}

#next-full-width ol {
  font-size: 1.5em;
  text-transform: capitalize;
  font-family: Poppins-m, serif;
  color: inherit;
}

#next ol li p, #fast ol li p, #next-full-width ol li p {
  margin: 0;
  text-transform: capitalize;
  font-family: Poppins-m, serif;
  color: inherit;
}

#footer p {
  font-size: .5em;
  position: fixed;
  bottom: .5vh;
  left: 50%;
  transform: translateX(-50%);
  color: #1B365F;
  z-index: 99999;
}

@media only screen and (max-width: 600px) {
  /* For mobile: */
  #most , #next, #fast, #next-full-width {
    width: calc( 100% - 20px );
    margin: 20px;
  }

  body {
    overflow-y: scroll;
  }

  #fast {
    margin-bottom: 270px;
  }

  #logo_holder svg {
    height: 15vh;
  }

  #buttons {
    display: block !important;
    width: calc( 100% - 4% );
    margin: 2%;
  }

  #buttons button {
    width: calc( 100% - 4% );
    margin: 2%;
    border: solid 2px white;
    background: none;
    padding:1% 0;
    font-size: 1.1em;
    color: #1B365F;
    font-family: Poppins-m, serif;
  }
}

@media only screen and (max-width: 1000px) {
  /* For tablets: */
  #most , #next, #fast, #next-full-width {
    width: calc( 100% - 20px );
    margin: 20px;
  }

  body {
    overflow-y: scroll;
  }

  #fast {
    margin-bottom: 270px;
  }

  #logo_holder svg {
    height: 10vh;
  }
}

@media only screen and (min-width: 1000px) {
  /* For desktop: */

}
